body{
    margin: 0;
	padding: 0;
	font-family: 'Fira Sans';
    background-color: #34374c;
}

ul, li{
	margin: 0;
	padding: 0;
}

img{
    max-width: 100%;
}

/*
    rouge : #ee2b47
    gris foncé : #2c2e3e
    gris moins foncé : #34374c
    gris hover: #4d4e55
    blanc : #f6f6f6
*/

.container{
    display: flex;
    justify-content: center;
}

.nav{
	width: 70vw;
	height: 100vh;
    display: flex;
    flex-direction: column;
	background-color: #2c2e3e;
    text-align: center;
    font-weight: bold;
}

.nav a{
	text-decoration: none;
    display: flex;
    justify-content: center;
	color: #4d4e55;
    transition: 0.3s;
    font-size: 1.4rem;
}

.nav a.active{
    color: #ee2b47;
}

.nav li{
    display: flex;
    justify-content: center;
    width: 14vw;
}

.nav p{
	color: #ee2b47;
    font-size: 1.2rem;
}

.nav a:hover{
    color: #ee2b47;
}

.nav .logo{
    display: flex;
    padding-top: 5vh;
    padding-bottom: 13vh;
    justify-content: center;
    margin: 0 auto;
    height: 11vw;
    width: 8vw;
}

.logo p{
    margin-top: 10%;
    font-size: 5rem;
}

.nav .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20vh;
}

.nav .icons a{
    font-size: 2.3rem;
}

#skills{
    width: 100%;
}

.apropos{
    display: flex;
    flex-direction: column;
    padding-top: 13vh;
    margin: auto;
    width: 50%;
    height: auto;
}

.apropos h1{
    color : #ee2b47;
    font-size: 5rem;
}

.apropos p{
    font-size: 1.4rem;
    color: #f6f6f6;
    text-align: left;
    margin: auto 2px;
}

.monCV{
    color: #f6f6f6;
    font-family: 'Fira Sans';
    margin: 20px auto;
    padding: 13px;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    width: 23vh;
    background-color: #2c2e3e;
    border: none;
    transition: 0.4s;
}

.monCV:hover{
    background-color: #ee2b47;
}

.red{
    color: #ee2b47;
}

.logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.logos img{
    padding: 20px;
    width: 10%;
}

#contacts{
    height: 100vh;
}

.projet {
position : relative;

background-size: cover;
background-position: center;
transition : 0.4s;
}

.projet:hover {
background-color : rgb(96,96,96,0);
}

.projet:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    content: '';

}

.projet h1 {
color : #ee2b47;
}

.projet h2 {
color : #ee2b47;
}

.projet a:visited {
color : #ee2b47;
}

#projects a{
    text-decoration: none;
}

.pj1div{
    width: 30%;
    height: 100%;
}

.pj2div{
    width: 70%;
    height: 100%;
}

.project_row_1{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 50%;
  margin-top: 0;
}

.project_row_2{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 50%;
  margin-top: 0;
}

.project_1{
background-image: url(img/cochon-d-inde-142839-650-325.jpg);
background-color : rgb(96,96,96,0.5);
width: 100%;
  height: 100%;
}

.project_2{
background-image: url(img/cochon-d-inde-142839-650-325.jpg);
background-color : rgb(96,96,96,0.5);
  height: 100%;
}

.project_row_1 h1{
    position: relative;
    margin: 0;
    top:45%;
    font-size: 3rem;
}

.project_row_1 h2{
    vertical-align: middle;
    position: relative;
    top: 15%;
}

.pj3div{
    width: 65%;
    height: 100%;
}

.project_3{
  background-color: cyan;
  height: 100%;
    background-image: url(img/cochon-d-inde-142839-650-325.jpg);
background-color : rgb(96,96,96,0.5);
}

.project_3 h1{
    margin: 0;
    position: relative;
    top:45%;
    font-size: 4rem;
}

.project_3 h2{
    position: relative;
    top:10%;
}

.project_col_1{
  width: 35%;
  height: 100%;
}

.project_4{
  height: 50%;
    background-image: url(img/cochon-d-inde-142839-650-325.jpg);
background-color : rgb(96,96,96,0.5);
}

.project_4 h1{
    margin: 0;
    position: relative;
    top:40%;
    font-size: 3rem;
}

.project_4 h2{
    position: relative;
    top: -15%;
}

.project_5{
    height: 50%;
    background-image: url(img/cochon-d-inde-142839-650-325.jpg);
background-color : rgb(96,96,96,0.5);
}

.project_5 h1{
    margin: 0;
    position: relative;
    top:40%;
    font-size: 3rem;
}

.project_5 h2{
    position: relative;
    top: -15%;
}


@media (max-width: 750px) {
    .nav {
    display: none;
    }


}
